sudo: false

language: php

dist: trusty

matrix:
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2

before_install:
  - composer self-update

install:
  - travis_retry composer install --no-interaction --ignore-platform-reqs --prefer-source
  - composer info -i

script:
  - vendor/bin/phpunit --coverage-clover clover.xml

after_success:
  - travis_retry composer require php-coveralls/php-coveralls:^2.1.0
  - travis_retry php vendor/bin/php-coveralls --coverage_clover=clover.xml -v
